.title{
    font-family: 'Roboto Mono', monospace;
    font-size:50px

}
*{
    text-align: center;
    color: black;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}
.fade-in.loaded {
    opacity: 1;
}.fade-in.deload{
    opacity: 0 !important;
}
.benigingclass{
    font-family: 'Pixelify Sans', cursive;
    font-size:40px;
    cursor:pointer;
}
.benigingclass2{
    font-family: 'Pixelify Sans', cursive;
    font-size:40px;
}
.themaindivs{
    display: flex;
}
.divofthemaindivs{
    border-radius: 30px;
    border: 2px solid black;
    padding:10px;
    margin:20px;
    width: 100%;
    font-size: 10px;
    color: black;
}
.titleforkindom{
    font-family: 'Roboto Mono', monospace;
    margin-top: 10px;
    margin-bottom: 30px;
}
.pforkingdom{
    font-family: 'Roboto Mono', monospace;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #5539cc ; 
    color: #fff; 
    padding: 10px; 
    text-align: center; 
}#hehehehhehehhe{
    color:white;
    text-decoration: none;
}
.kingdomphylumetc{
    opacity: 0;
    transition: opacity 1s ease-in;
}.text-show {
    opacity: 1;
    transition: all 1s ease;
  }#somespan, #thekindonm{
    transition: all 1s ease-in;
}





/* Keyframes */
@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.toflash {
    animation: flash 2s infinite;
}
.divofthemaindivs:hover{
    animation: flash 2s infinite;
    cursor: pointer;
}


